.categorias-productos {
  /* padding: 3rem; */
  column-gap: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.category-product {
  max-width: 352px;
}
.category-product img {
  width: 100%;
  display: block;
}
.category-product a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1.4rem;
}
.category-product a:hover {
  background-color: #037bc0;
  color: #ffffff;
  border-bottom-right-radius: 1rem;
}
